body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100vh;
    padding: 15px;
    background-color: beige;
    font-family: 'Calculator', sans-serif;                                             
}

@import url('https://fonts.cdnfonts.com/css/calculator');

h1 {
    text-align: center;
    font-size: 3.5rem;
}

.calculator {
    background-color: black;
    width: 350px;
    border-radius: 15px;
    padding: 15px;
    border: 2px solid grey;
    box-shadow: 5px 10px 8px #888888;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: lightgray;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 3rem;
    height: 70px;
    border: 2px solid grey;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator-row,
.main-buttons,
.number-row {
    display: flex;
    gap: 10px;
}

.number-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-family: 'Calculator', sans-serif;     
    font-size: 2.5rem;
    font-weight: bold;
}

.equal-column {
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 10px;
}

.equals {
    height: 50px;
    height: 200px;
    background-color: #1880bd;
    box-shadow: 0px 4px #0a5c8b;
    font-size: 5rem;
}  

.equals:active {
    background-color: #259fe6;
    box-shadow: 0px 2px #084669;
    transform: translateY(4px);
}

.operator {
    flex: 1;
    background-color: green;
    box-shadow: 0px 4px #1ba050;
    color: white;
}

.operator:active {
    background-color: #0dbe54;
    box-shadow: 0px 2px #0c9241;
    transform: translateY(4px);
}

.number,
.decimal {
    flex: 1;
    background-color: lightgray;
    box-shadow: 0px 4px #999;
}

.number:active,
.decimal:active {
    background-color: white;
    box-shadow: 0px 2px dimgray;
    transform: translateY(4px);
}

.clear,
.delete {
    background-color: #d6181e;
    color: white;
    flex: 1;
    box-shadow: 0px 4px #ac1015;
}

.clear:active,
.delete:active {
    background-color: rgb(243, 95, 95);
    box-shadow: 0px 2px #921b1b;
    transform: translateY(4px);
}