body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    padding: 15px;
}

.calculator {
    background-color: black;
    width: 350px;
    border-radius: 15px;
    padding: 15px;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 2.5rem;
    height: 70px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.operator-row,
.main-buttons,
.number-row {
    display: flex;
    gap: 10px;
}

.number-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 2rem;
}

.equal-column {
    display: flex;
    flex-direction: column;
    width: 80px;
    gap: 10px;
}

.equals {
    height: 50px;
    height: 200px;
    background-color: #1880bd;
    box-shadow: 0px 4px #0a5c8b;
}  

.equals:active {
    background-color: #259fe6;
    box-shadow: 0px 2px #084669;
    transform: translateY(4px);
}

.operator {
    flex: 1;
    background-color: green;
    box-shadow: 0px 4px #1ba050;
    color: white;
}

.operator:active {
    background-color: #0dbe54;
    box-shadow: 0px 2px #0c9241;
    transform: translateY(4px);
}

.number {
    flex: 1;
    background-color: lightgray;
    box-shadow: 0px 4px #999;
}

.number:active {
    background-color: white;
    box-shadow: 0px 2px dimgray;
    transform: translateY(4px);
}

.delete,
.back {
    background-color: #d6181e;
    color: white;
    flex: 1;
    box-shadow: 0px 4px #ac1015;
}

.delete:active,
.back:active {
    background-color: rgb(243, 95, 95);
    box-shadow: 0px 2px #921b1b;
    transform: translateY(4px);
}